node_modules/
dist/
out/
release/
coverage/
.env
.env.production
!apps/desktop/.env.production
.env.local
.env.*.local
certs/*
!certs/.gitkeep
*.log
.DS_Store
**/.DS_Store
apps/desktop/.vite/
apps/desktop/bin/*
!apps/desktop/bin/.gitkeep
apps/server/data/**
release.old/
*.old/


